body {
  background-color: #000000;
  background-image: url(./assets/background.png);
  color: #ffffff;
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 20px 2%;
  position: fixed;
  width: 100%;
  top: 0;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
section {
  padding: 0 14%;
  unicode-bidi: isolate;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  background-position: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: -10rem;
}
.heroAbout {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  background-position: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.hero-text h2 {
  text-align: left;
  font-size: 88px;
  font-weight: 900;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}
.hero-text h2::before {
  content: ".";
  align-items: center;
  position: absolute;
  right: -1.5rem;
  animation: blink 1.5s infinite;
  color: #ffffff;
  font-weight: 450;
}
.hero-textAbout h2 {
  font-size: 2.5rem;
  line-height: 1.8;
  font-weight: 900;
  margin: 15px 0;
  position: relative;
  display: inline-block;
}
.hero-textAbout h2::before {
  content: ",";
  align-items: center;
  position: absolute;
  right: -1rem;
  animation: blink 1.5s infinite;
  color: #ffffff;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
.hero-text h4 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
}

h4 {
  display: block;
  margin-block-start: -10px;
  margin-block-end: 1.33em;
  margin-inline-start: 3px;
  unicode-bidi: isolate;
}
.btn:first-child {
  margin-right: 15px;
}
.btn {
  margin: 1px 15px 1px 1px;
  padding: 10px 23px;
  display: inline-block;
  background: #7c28ca;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.6s ease;
}
.btn:hover {
  background-color: #252525;
}
.hero-textAbout h4 {
  font-size: 16px;
  font-weight: 200;
  max-width: 900px;
  white-space: normal;
  position: relative;
  display: inline-block;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}
.modal-content {
  background: white;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  position: relative;
}

.resume-image {
  width: 85%;
  border-radius: 3px;
}
.resume-btn {
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background: #0c0c0c;
  margin-left: 28%;
  width: 50%;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* Aba projetos */
.projects {
  padding: 50px 10%;
  text-align: center;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  background: #1b1b1b79;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.card h3 {
  margin-top: 15px;
}
.card a {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.styled-wrapper .button {
  display: block;
  position: relative;
  width: 65px;
  height: 65px;
  margin: 35px;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.styled-wrapper .button:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 3px solid gray; /* branco | preto */
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.styled-wrapper .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
  border: 4px solid #3a3a3a;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.styled-wrapper .button:hover:before,
.styled-wrapper .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.styled-wrapper .button:hover:after,
.styled-wrapper .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.styled-wrapper .button-box {
  display: flex;
  position: absolute;
  top: -6px;
  left: -6px;
}

.styled-wrapper .button-elem {
  display: block;
  width: 30px;
  height: 30px;
  margin: 24px 18px 0 22px;
  transform: rotate(360deg);
  fill: #f0eeef;
}

.styled-wrapper .button:hover .button-box,
.styled-wrapper .button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-69px);
}
